<!-- ABOUT THE DEVELOPERS PAGE -->

<md-bottom-sheet>

<div class="about-header">ABOUT REX</div>

<p id="description">An app for keeping track of your favorite travelling experiences and sharing travel recommendations with friends and family!</p>

<div class="about-header">ABOUT THE DEVELOPERS</div><br>

<div class="clearfix" id="lauren">
	<img class="about-photo" src="./images/lauren-headshot.jpg">
	<div class="name">LAUREN GO</div>
	<div class="role">PROJECT MANAGER & DEVELOPER</div>
	<div class="contacts">
		<span><a href="http://www.laurengo.com"><i class="about-contact-icon mdi-action-grade">&nbsp PORTFOLIO</i></a></span><br>
		<span><a href="mailto:lauren.nicole.go@gmail.com"><i class="about-contact-icon mdi-content-mail">&nbsp CONTACT</i></a></span>
		
	</div>
</div>
<br>
<div class="clearfix" id="trevor">
	<img class="about-photo" src="./images/trevor-headshot.jpg">
	<div class="name">TREVOR SPEARS</div>
	<div class="role">GIT MASTER & DEVELOPER</div>
	<div class="contacts">
		<span><a href="http://www.trevorspears.com"><i class="about-contact-icon mdi-action-grade">&nbsp PORTFOLIO</i></a></span><br>
		<span><a href="mailto:tg.spears@gmail.com"><i class="about-contact-icon mdi-content-mail">&nbsp CONTACT</i></a></span>
		
	</div>
</div>

</md-bottom-sheet>