<!-- MODAL FOR ADDING A NEW LIST -->

<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <form ng-submit="addList()">

    <div class="modalHeader" id="newList-header"> NAME YOUR NEW REX <a ng-click="closeDialog()"><i class="mdi-navigation-close right"></i></a></div>

      <md-input-container>
        <input id="new-list-modal-form" name="newList" ng-model="newList.title" placeholder="ex. Seattle or Bloomsbury" required md-maxlength="100" minlength="1">
      </md-input-container>

      <md-button type="submit" class="modalButton modal-action modal-close waves-effect waves-white purple ligten-1 btn-flat">
        SUBMIT
      </md-button>
    </form>

  </md-dialog-content>


</md-dialog>