<!-- ADD A REX FORM -->
<!-- COMMENTED OUT CODE IS NOT TRASH CODE, PLEASE RETAIN -->

<div id="addARexPage">

  <md-button class="add-search-btn md-raised indigo darken-4 waves-effect waves-purple" href="/search"> <i class="mdi-action-search"></i>SEARCH LOCATIONS </md-button>

  <div id="or">OR</div>

  <div id="addARexTitle">ADD A REX</div>

  <form ng-submit="addRex()">

  <!-- Drop down to select list association -->
    <div class="input-field col s12">
      <select class="rexSelect browser-default" required ng-model="newRex.listId" value="">
        <option value="{{rex.list_id}}" required disabled selected>SELECT THIS REX'S LIST: </option>
        <option ng-repeat="list in lists" value="{{list.id}}">{{list.title}}</option>
       
      </select>
     
    </div>



    <md-input-container>
      <label>Name: {{rex.name}}</label>
      <input name="name" ng-model="newRex.name" value="{{rex.name}}" required>
      <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
        <div ng-message="required">This is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
        <div ng-message="minlength">That's too short!</div>
      </div> -->
    </md-input-container>

    <md-input-container>
      <label>Street Address: {{rex.street}}</label>
      <input name="street" ng-model="newRex.street" value="{{rex.street}}" md-minlength=1>
      <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
        <div ng-message="required">This is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
        <div ng-message="minlength">That's too short!</div>
      </div> -->
    </md-input-container>

    <md-input-container>
      <label>City: {{rex.city}}</label>
      <input name="city" ng-model="newRex.city" value="{{rex.city}}" required md-minlength=1>
      <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
        <div ng-message="required">This is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
        <div ng-message="minlength">That's too short!</div>
      </div> -->
    </md-input-container>

    <md-input-container>
      <label>State/Region: {{rex.state}}</label>
      <input name="state" ng-model="newRex.state" value="{{rex.state}}">
      <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
        <div ng-message="required">This is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
        <div ng-message="minlength">That's too short!</div>
      </div> -->
    </md-input-container>

    <md-input-container>
      <label>Country: {{rex.country}}</label>
      <input name="country" required ng-model="newRex.country" value="{{rex.country}}">
      <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
        <div ng-message="required">This is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
        <div ng-message="minlength">That's too short!</div>
      </div> -->
    </md-input-container>

    <div class="input-field col s12">
      <select class="rexSelect browser-default" required ng-model="newRex.category" value="{{rex.category}}">
        <option value="{{rex.category}}" disabled selected>SELECT A CATEGORY: {{rex.category}}</option>
        <option value="restaurant">Restaurant</option>
        <option value="accommodations">Accommodations</option>
        <option value="nature">Nature - Hikes/Views/Outdoors</option>
        <option value="shopping">Shopping</option>
        <option value="landmarks">Landmarks/Attractions</option>
        <option value="events">Events/Festivals</option>
        <option value="museums">Museums</option>
        <option value="nightlife">Bars/Nightlife</option>
        <option value="other">Other</option>
      </select>
     
    </div>

    <md-input-container>
      <label>Phone Number: {{rex.phone}}</label>
      <input name="phone" ng-model="newRex.phone" value="{{rex.phone}}">
      <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
        <div ng-message="required">This is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
        <div ng-message="minlength">That's too short!</div>
      </div> -->
    </md-input-container>

    <md-input-container>
      <label>Email: {{rex.email}}</label>
      <input name="email" ng-model="newRex.email" value="{{rex.email}}">
      <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
        <div ng-message="required">This is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
        <div ng-message="minlength">That's too short!</div>
      </div> -->
    </md-input-container>

    <md-input-container>
      <label>Website: {{rex.website}}</label>
      <input name="website" ng-model="newRex.website" value="{{rex.website}}">
      <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
        <div ng-message="required">This is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
        <div ng-message="minlength">That's too short!</div>
      </div> -->
    </md-input-container>

    <md-input-container>
      <label>Notes: {{rex.notes}}</label>
      <input name="notes" ng-model="newRex.notes" value="{{rex.notes}}" md-maxlength=255>
      <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
        <div ng-message="required">This is required!</div>
        <div ng-message="md-maxlength">That's too long!</div>
        <div ng-message="minlength">That's too short!</div>
      </div> -->
    </md-input-container>
    
    <md-button type="" submit id="addRexSubmitButton" class="md-raised home-btns purple lighten-1"> SUBMIT </md-button>


  </form>

</div>
