<div>
<h1>ADD A REX</h1>

<form ng-submit="addRex()">
  <md-input-container>
    <label>Name</label>
    <input name="name" ng-model="newRex.name" required md-maxlength=20 minlength="4">
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>


  <md-input-container>
    <label>Street Address</label>
    <input name="street" ng-model="newRex.street" md-maxlength=20>
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>City</label>
    <input name="city" ng-model="newRex.city" required md-maxlength=20>
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>State/Region</label>
    <input name="state" ng-model="newRex.state" required md-maxlength=20>
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>Country</label>
    <input name="country" ng-model="newRex.country" required md-maxlength=20>
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <!--  <md-input-container>
    <label>Category</label>
    <input name="category" ng-model="newRex.category" required md-maxlength=20 minlength="4">
    <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div>
  </md-input-container> -->

  <!-- <md-select ng-model="newRex.category" placeholder="SELECT A CATEGORY"> -->
  <!-- <md-select-label>Select a Category</md-select-label> -->
  <!--   <md-option value="restaurant">Restaurant</md-option>
    <md-option value="accommodations">Accommodations</md-option>
    <md-option value="nature">Nature - Hikes/Views/Outdoors</md-option>
    <md-option value="shopping">Shopping</md-option>
    <md-option value="landmarks">Landmarks/Attractions</md-option>
     <md-option value="events">Events/Festivals</md-option>
    <md-option value="museums">Museums</md-option>
     <md-option value="nightlife">Bars/Nightlife</md-option>
    <md-option value="other">Other</md-option>
    
  </md-select> -->

  <div class="input-field col s12">
    <select class="browser-default" ng-model="newRex.category">
      <option value="" disabled selected>SELECT A CATEGORY</option>
      <option value="restaurant">Restaurant</option>
      <option value="accommodations">Accommodations</option>
      <option value="nature">Nature - Hikes/Views/Outdoors</option>
      <option value="shopping">Shopping</option>
      <option value="landmarks">Landmarks/Attractions</option>
      <option value="events">Events/Festivals</option>
      <option value="museums">Museums</option>
      <option value="nightlife">Bars/Nightlife</option>
      <option value="other">Other</option>
    </select>
   
  </div>



  <md-input-container>
    <label>Phone Number</label>
    <input name="phone" ng-model="newRex.phone" md-maxlength=20>
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>Email</label>
    <input name="email" ng-model="newRex.email" md-maxlength=20>
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>Website</label>
    <input name="website" ng-model="newRex.website" md-maxlength=20>
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>Notes</label>
    <input name="notes" ng-model="newRex.notes" md-maxlength=20>
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <h2>UPLOAD A PHOTO</h2>

  <input class="waves-effect waves-light btn" type="submit" ng-click="" value = "SUBMIT">


</form>

</div>
