<div>
<h1>ADD A REX</h1>

<form name="userForm" ng-submit="addRex()">
  <md-input-container>
    <label>Name</label>
    <input name="name" ng-model="name" required md-maxlength="10" minlength="4">
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>Street Address</label>
    <input name="street" ng-model="street" required md-maxlength="10" minlength="4">
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>City</label>
    <input name="city" ng-model="city" required md-maxlength="10" minlength="4">
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>State/Region</label>
    <input name="state" ng-model="state" required md-maxlength="10" minlength="4">
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>Country</label>
    <input name="country" ng-model="country" required md-maxlength="10" minlength="4">
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>Phone Number</label>
    <input name="phone" ng-model="phone" required md-maxlength="10" minlength="4">
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>Email</label>
    <input name="email" ng-model="email" required md-maxlength="10" minlength="4">
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>Website</label>
    <input name="website" ng-model="website" required md-maxlength="10" minlength="4">
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <md-input-container>
    <label>Notes</label>
    <input name="notes" ng-model="notes" required md-maxlength="10" minlength="4">
    <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
      <div ng-message="required">This is required!</div>
      <div ng-message="md-maxlength">That's too long!</div>
      <div ng-message="minlength">That's too short!</div>
    </div> -->
  </md-input-container>

  <h2>UPLOAD A PHOTO</h2>

  <a class="waves-effect waves-light btn" type="submit" ng-click="">SUBMIT</a>


</form>

</div>
