<!-- HOME PAGE -->

<div id="home-body">
  <div id="logo">
    <img id="home-graphic" src = "images/logo2w.png">

  </div>

  <div id="buttons">
    <md-button ng-show="!currentUser" ng-click="showDialog('signup')" class="md-raised home-btns purple lighten-1">
      SIGNUP
    </md-button>
  

    <md-button ng-show="!currentUser" ng-click="showDialog('login')" class="md-raised home-btns purple lighten-1">
      LOGIN
    </md-button>

    <a ng-click="openBottomSheet()"><div id="what-is-rex">WHAT IS REX?</div></a>
  </div>
</div>
