<!-- SHOW PAGE FOR ALL REXES FROM A LIST -->

<div id="rex-show-body">
    <div id="location-header">{{listData.title}} <span><a style="margin-top:-10px" class="btn-floating btn waves-effect waves-light purple lighten-1" href="/addrex"><i class="mdi-content-add"></i></a></span> </div>

    <!-- START OF ACCORDION -->

    <ul class="collapsible" data-collapsible="accordian">
        <li>
          <div class="collapsible-header"><i class="rex-icon mdi-maps-local-restaurant"></i>RESTAURANT</div>
          <div class="collapsible-body">
            <ul>
 
                <md-whiteframe ng-repeat="rex in rexes | filter:{category:'restaurant'}" class="md-whiteframe-z2" layout layout-align="center center">
                <div class="rex-div">
                    <a href="{{rex.website}}"><div class="rex-name">{{rex.name}}</div></a><br>
                    <span class="rex-address">{{rex.street}}<br> {{rex.city}}, {{rex.state}}, {{rex.country}}</span>
               
                    <div class="rex-btns">
                      <a class="rex-share"><i class="purple lighten-1 btn-floating btn waves-effect waves-light mdi-communication-email" ng-click="showDialog(rex)"></i></a>
                      <a href="tel:{{rex.phone}}" class="rex-phone"><i class="grey darken-4 btn-floating btn waves-effect waves-light mdi-communication-phone"></i></a>
                      <a class="rex-edit" href="/editit/{{rex.id}}"><i class="btn-floating btn waves-effect waves-light indigo darken-4 mdi-editor-mode-edit"></i></a>
                      <a class="rex-delete" ng-click="deleteRex(rex.id)"><i class="btn-floating btn waves-effect waves-light pink darken-4 mdi-content-clear"></i></a>
                    </div>
                </div>

                </md-whiteframe>
              

            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="rex-icon mdi-maps-local-hotel"></i>ACCOMMODATIONS</div>
          <div class="collapsible-body">
            <ul>
               <md-whiteframe ng-repeat="rex in rexes | filter:{category:'accommodations'}" class="md-whiteframe-z2" layout layout-align="center center">
                <div class="rex-div">
                    <a href="{{rex.website}}"><div class="rex-name">{{rex.name}}</div></a><br>
                    <span class="rex-address">{{rex.street}}<br> {{rex.city}}, {{rex.state}}, {{rex.country}}</span>
             
                    <div class="rex-btns">
                      <a class="rex-share"><i class="purple lighten-1 btn-floating btn waves-effect waves-light mdi-communication-email" ng-click="showDialog(rex)"></i></a>
                      <a href="tel:{{rex.phone}}" class="rex-phone"><i class="grey darken-4 btn-floating btn waves-effect waves-light mdi-communication-phone"></i></a>
                      <a class="rex-edit" href="/editrex/{{rex.id}}"><i class="btn-floating btn waves-effect waves-light indigo darken-4 mdi-editor-mode-edit"></i></a>
                      <a class="rex-delete" ng-click="deleteRex(rex.id)"><i class="btn-floating btn waves-effect waves-light pink darken-4 mdi-content-clear"></i></a>
                   </div>
                </div>
              </md-whiteframe>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="rex-icon mdi-maps-local-florist"></i>NATURE - HIKES / VIEWS / OUTDOORS</div>
          <div class="collapsible-body">
            <ul>
             
                <md-whiteframe ng-repeat="rex in rexes | filter:{category:'nature'}" class="md-whiteframe-z2" layout layout-align="center center">
                 <div class="rex-div">
                    <a href="{{rex.website}}"><div class="rex-name">{{rex.name}}</div></a><br>
                    <span class="rex-address">{{rex.street}}<br> {{rex.city}}, {{rex.state}}, {{rex.country}}</span>
          
                    <div class="rex-btns">
                      <a class="rex-share"><i class="purple lighten-1 btn-floating btn waves-effect waves-light mdi-communication-email" ng-click="showDialog(rex)"></i></a>
                      <a href="tel:{{rex.phone}}" class="rex-phone"><i class="grey darken-4 btn-floating btn waves-effect waves-light mdi-communication-phone"></i></a>
                      <a class="rex-edit" href="/editrex/{{rex.id}}"><i class="btn-floating btn waves-effect waves-light indigo darken-4 mdi-editor-mode-edit"></i></a>
                      <a class="rex-delete" ng-click="deleteRex(rex.id)"><i class="btn-floating btn waves-effect waves-light pink darken-4 mdi-content-clear"></i></a>
                    </div>
                 </div>
                </md-whiteframe>
              </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="rex-icon mdi-maps-store-mall-directory"></i>SHOPPING</div>
          <div class="collapsible-body">
            <ul>
             
                <md-whiteframe ng-repeat="rex in rexes | filter:{category:'shopping'}" class="md-whiteframe-z2" layout layout-align="center center">
                 <div class="rex-div">
                    <a href="{{rex.website}}"><div class="rex-name">{{rex.name}}</div></a><br>
                    <span class="rex-address">{{rex.street}}<br> {{rex.city}}, {{rex.state}}, {{rex.country}}</span>
            
                    <div class="rex-btns">
                      <a class="rex-share"><i class="purple lighten-1 btn-floating btn waves-effect waves-light mdi-communication-email" ng-click="showDialog(rex)"></i></a>
                      <a href="tel:{{rex.phone}}" class="rex-phone"><i class="grey darken-4 btn-floating btn waves-effect waves-light mdi-communication-phone"></i></a>
                      <a class="rex-edit" href="/editrex/{{rex.id}}"><i class="btn-floating btn waves-effect waves-light indigo darken-4 mdi-editor-mode-edit"></i></a>
                      <a class="rex-delete" ng-click="deleteRex(rex.id)"><i class="btn-floating btn waves-effect waves-light pink darken-4 mdi-content-clear"></i></a>
                    </div>
                   </div>
                </md-whiteframe>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="rex-icon mdi-action-stars"></i>LANDMARKS / ATTRACTIONS</div>
          <div class="collapsible-body">
            <ul>
            
                <md-whiteframe ng-repeat="rex in rexes | filter:{category:'landmarks'}" class="md-whiteframe-z2" layout layout-align="center center">
                  <div class="rex-div">
                    <a href="{{rex.website}}"><div class="rex-name">{{rex.name}}</div></a><br>
                    <span class="rex-address">{{rex.street}}<br> {{rex.city}}, {{rex.state}}, {{rex.country}}</span>
                
                    <div class="rex-btns">
                      <a class="rex-share"><i class="purple lighten-1 btn-floating btn waves-effect waves-light mdi-communication-email" ng-click="showDialog(rex)"></i></a>
                      <a href="tel:{{rex.phone}}" class="rex-phone"><i class="grey darken-4 btn-floating btn waves-effect waves-light mdi-communication-phone"></i></a>
                      <a class="rex-edit" href="/editrex/{{rex.id}}"><i class="btn-floating btn waves-effect waves-light indigo darken-4 mdi-editor-mode-edit"></i></a>
                      <a class="rex-delete" ng-click="deleteRex(rex.id)"><i class="btn-floating btn waves-effect waves-light pink darken-4 mdi-content-clear"></i></a>
                    </div>
                 </div>
                </md-whiteframe>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="rex-icon mdi-maps-local-attraction"></i>EVENTS / FESTIVALS</div>
          <div class="collapsible-body">
            <ul>
             
                <md-whiteframe ng-repeat="rex in rexes | filter:{category:'events'}" class="md-whiteframe-z2" layout layout-align="center center">
                  <div class="rex-div">
                    <a href="{{rex.website}}"><div class="rex-name">{{rex.name}}</div></a><br>
                    <span class="rex-address">{{rex.street}} <br>{{rex.city}}, {{rex.state}}, {{rex.country}}</span>
                 
                    <div class="rex-btns">
                      <a class="rex-share"><i class="purple lighten-1 btn-floating btn waves-effect waves-light mdi-communication-email" ng-click="showDialog(rex)"></i></a>
                      <a href="tel:{{rex.phone}}" class="rex-phone"><i class="grey darken-4 btn-floating btn waves-effect waves-light mdi-communication-phone"></i></a>
                      <a class="rex-edit" href="/editrex/{{rex.id}}"><i class="btn-floating btn waves-effect waves-light indigo darken-4 mdi-editor-mode-edit"></i></a>
                      <a class="rex-delete" ng-click="deleteRex(rex.id)"><i class="btn-floating btn waves-effect waves-light pink darken-4 mdi-content-clear"></i></a>
                </div>
                  </div>
                </md-whiteframe>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="rex-icon mdi-image-collections"></i>MUSEUMS</div>
          <div class="collapsible-body">
            <ul>
             
               <md-whiteframe ng-repeat="rex in rexes | filter:{category:'museums'}" class="md-whiteframe-z2" layout layout-align="center center">
                   <div class="rex-div">
                      <a href="{{rex.website}}"><div class="rex-name">{{rex.name}}</div></a><br>
                      <span class="rex-address">{{rex.street}}<br> {{rex.city}}, {{rex.state}}, {{rex.country}}</span>
            
                      <div class="rex-btns">
                        <a class="rex-share"><i class="purple lighten-1 btn-floating btn waves-effect waves-light mdi-communication-email" ng-click="showDialog(rex)"></i></a>
                        <a href="tel:{{rex.phone}}" class="rex-phone"><i class="grey darken-4 btn-floating btn waves-effect waves-light mdi-communication-phone"></i></a>
                        <a class="rex-edit" href="/editrex/{{rex.id}}"><i class="btn-floating btn waves-effect waves-light indigo darken-4 mdi-editor-mode-edit"></i></a>
                         <a class="rex-delete" ng-click="deleteRex(rex.id)"><i class="btn-floating btn waves-effect waves-light pink darken-4 mdi-content-clear"></i></a>
                      </div>
                   </div>
                </md-whiteframe>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="rex-icon mdi-maps-local-bar"></i>BARS / NIGHTLIFE</div>
          <div class="collapsible-body">
            <ul>
              
                <md-whiteframe ng-repeat="rex in rexes | filter:{category:'nightlife'}" class="md-whiteframe-z2" layout layout-align="center center">
                  <div class="rex-div">
                    <a href="{{rex.website}}"><div class="rex-name">{{rex.name}}</div></a><br>
                    <span class="rex-address">{{rex.street}}<br> {{rex.city}}, {{rex.state}}, {{rex.country}}</span>
         
                    <div class="rex-btns">
                      <a class="rex-share"><i class="purple lighten-1 btn-floating btn waves-effect waves-light mdi-communication-email" ng-click="showDialog(rex)"></i></a>
                      <a href="tel:{{rex.phone}}" class="rex-phone"><i class="grey darken-4 btn-floating btn waves-effect waves-light mdi-communication-phone"></i></a>
                      <a class="rex-edit" href="/editrex/{{rex.id}}"><i class="btn-floating btn waves-effect waves-light indigo darken-4 mdi-editor-mode-edit"></i></a>
                      <a class="rex-delete" ng-click="deleteRex(rex.id)"><i class="btn-floating btn waves-effect waves-light pink darken-4 mdi-content-clear"></i></a>
                </div>
                  </div>
                </md-whiteframe>
            </ul>
          </div>
        </li>
        <li>
          <div class="header-title collapsible-header"><i class="rex-icon mdi-action-room"></i>OTHER</div>
          <div class="collapsible-body">
            <ul>
             
                <md-whiteframe ng-repeat="rex in rexes | filter:{category:'other'}" class="md-whiteframe-z2" layout layout-align="center center">
                  <div class="rex-div">
                    <a href="{{rex.website}}"><div class="rex-name">{{rex.name}}</div></a><br>
                    <span class="rex-address">{{rex.street}}<br> {{rex.city}}, {{rex.state}}, {{rex.country}}</span>
           
                    <div class="rex-btns">
                      <a class="rex-share"><i class="purple lighten-1 btn-floating btn waves-effect waves-light mdi-communication-email" ng-click="showDialog(rex)"></i></a>
                      <a href="tel:{{rex.phone}}" class="rex-phone"><i class="grey darken-4 btn-floating btn waves-effect waves-light mdi-communication-phone"></i></a>
                      <a class="rex-edit" href="/editrex/{{rex.id}}"><i class="btn-floating btn waves-effect waves-light indigo darken-4 mdi-editor-mode-edit"></i></a>
                      <a class="rex-delete" ng-click="deleteRex(rex.id)"><i class="btn-floating btn waves-effect waves-light pink darken-4 mdi-content-clear"></i></a>
                    </div>
                  </div>
                </md-whiteframe>
            </ul>
          </div>
        </li>
    </ul>
</div>
