<div>
  <form ng-submit="yelpSearch()">
    <div class="input-field">
      <input id="searchLocation" type="search" ng-model="searchLocation" required>
      <label for="search"><i class="mdi-action-search"></i></label>
      <i class="mdi-navigation-close"></i>
    </div>
    <div class="input-field">
      <input style="background-color:#AAA" id="searchTerm" type="search" ng-model="searchTerm" required>
      <label for="search"><i class="mdi-action-search"></i></label>
      <i class="mdi-navigation-close"></i>
    </div>
    <div>
      <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="SUBMIT">
    </div>
  </form>
</div>

<!-- <ul>

{{total}} RESULTS FOUND
<li ng-repeat="result in results">
  {{result.name}}
  {{result.display_phone}}
  {{result.rating}}
  {{result.review_count}}
  <img src={{result.image_url}}>
  {{result.location.display_address}}

</li>
</ul>
 -->
<ul>
  {{total}} RESULTS FOUND
    <li ng-repeat="result in results">
        <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src={{result.image_url}}>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{result.name}} <i class="mdi-navigation-more-vert right"></i></span>
                  <p>{{result.rating}}|{{result.review_count}}</p>

                  <!-- Hidden form for passing data -->
                    <form ng-submit="addYelpRex($index)">
                        
                        <button class="btn-floating btn-large waves-effect waves-light red" type="submit"><i class="mdi-content-add"></i></button>

                    </form>

                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{result.name}} <i class="mdi-navigation-close right"></i></span>
                  <p>
                      {{result.name}}
                      {{result.display_phone}}
                      {{result.url}}
                      {{result.rating}}
                      {{result.review_count}}
                      {{result.location.address}}
                      {{result.location.city}}
                      {{result.location.state_code}}
                      {{result.location.country_code}}
                  </p>
                </div>
        </div>


    </li>
</ul>

