    <!-- <div id="loginModal" class="modal modal-fixed-footer"> -->
      <!-- <div class="modal-content"> -->
        <h4>LOGIN</h4>

        <form ng-submit="login()">
           <md-input-container>
            <label>Email</label>
            <input name="email" ng-model="email" required md-maxlength="20" minlength="4">
        <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div> -->
           </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input name="password" ng-model="password" required md-maxlength="20" minlength="4" type="password">
            <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
              <div ng-message="required">This is required!</div>
              <div ng-message="md-maxlength">That's too long!</div>
              <div ng-message="minlength">That's too short!</div>
            </div> -->
          </md-input-container>
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">SUBMIT</a>
        </form>


      <!-- </div> -->
      <!-- <div class="modal-footer"> -->
      <!-- </div> -->
    <!-- </div> -->