/*MOBILE DEVICE STYLING*/
/*REFACTORING OF STYLING IN-PROGRESS*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#buttons{
	width:19%;
	margin-left:34%;
	}

	.eachli{
		font-size:20px;
	}

}