/*COLORS*/

/*DARK BLUE: rgb(16,26,89) or indigo darken-4 (not quite)
YELLOW: rgb(255,241,94) OR yellow lighten-2
GRAY: rgb(45,49,60) OR grey darken-4
WHITE: 
PURPLE:rgb(148,36,159) purple lighten-1;
*/

/*GENERAL*/
body {
	font-family: 'Exo 2', sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*MODAL*/

md-dialog {
	width:70%;
}

/*NAV*/
#nav-logo{
	/*min-width:100px;*/
	width:24%;
	border:3px solid white;
	border-radius:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;

}

img#nav-logo{
	margin-left:30px;
	margin-top:30px;
	margin-bottom:10px;
}

.nav-links{
	/*color:rgb(148,36,159);*/
	color:white;
	/*text-shadow:1px 1px white;*/
}

.mdi-navigation-menu{
	color:rgb(148,36,159);
	font-size:22px;
}

#hello-user{
	color:rgb(148,36,159);
	font-size:18px;
	text-transform:uppercase;
	float:right;
	margin-top:4.5%;
}

#navbar{
	border-bottom:1px solid rgb(16,26,89);
}

/*HOME PAGE*/




#home-body{
	background-color:rgb(16,26,89);
	/*background-color:white;*/
	height:100vh;
}




#home-graphic{
	/*min-width:100px;*/
	/*max-width:19%;
	min-height:100px;*/
	width:100%;
/*	margin-left:40.5%;*/
	margin-top:50px;
	text-align:center;
/*	border:5px solid white;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:50px;
	padding-right:50px;
	border-radius:5px;*/
}

#logo{
	/*border:3px solid black;*/
	width:19%;
	margin-left:40.5%;
	text-align:center;
	/*min-height:100px;*/
}



#rex{
	font-family: 'Exo 2', sans-serif;
	font-size:237px;
	font-weight:300;
	margin-left:18%;
	margin-top:-100px;
}

#buttons{
	width:19%;
	margin-left:40%;
}


.home-btns{
	width:100%;

}

button.md-raised.home-btns.md-button{
	/*background-color:rgb(93,198,67);*/
	color:white;

}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#buttons{
	width:19%;
	margin-left:33%;
	}

	.eachli{
		font-size:20px;
	}

	#logo{
		width:40%;
		padding-top:30px;
		margin-left:30%;
	}

}


/*COLORS*/

/*DARK BLUE: rgb(16,26,89) or indigo darken-4 (not quite)
YELLOW: rgb(255,241,94) OR yellow lighten-2
GRAY: rgb(45,49,60) OR grey darken-4
WHITE: 
PURPLE:rgb(148,36,159) purple lighten-1;
*/


/*HOME PAGE MODALS*/

md-input-container.md-default-theme .md-input {
	border-color: rgb(45,49,60);
}

md-input-container.md-default-theme.md-input-valid .md-input {
	border-color: rgb(16,26,89);
}

md-input-container.md-default-theme.md-input-invalid .md-input {
	border-color: rgb(148,36,159);
}																																														

md-input-container.md-default-theme label {
	color: rgb(45,49,60);
}

md-input-container.md-default-theme.md-input-valid label {
	color: rgb(16,26,89);
}

md-input-container.md-default-theme.md-input-invalid label {
	color: rgb(148,36,159);
}

.modalHeader {
	font-size: 30px;
}

i.mdi-navigation-close {
	color: rgb(148,36,159);
	font-size: 30px;
	position: relative;
	left: 25%;
	top: 2px;
}

.modalButton {
	color: white;
}

/*SEARCH RESULT PAGE*/
/*.card.small .card-image{
	height:250px;
}

.card{
	width:30%;
}

.card-content{
	height:200px;
}

.card.small{
	height:400px;
}*/

.add-rex-plus{
	margin-left:230px;
	margin-top:5px;
}

span.card-title{
	font-size:20px;

}

.card .card-content .card-title{
	line-height:6%;
}

.btn-flat{
	width:100%;
}

input.search-bar{
	width:85%;
	margin:0 auto;
}

input#searchLocation.search-bar:focus{
	border:1px solid black;
	border-radius:5px;

}

input#searchTerm.search-bar:focus{
	border:1px solid  rgb(45,49,60);
	border-radius:5px;

}

#search-header{
	font-size:32px;
	margin-top:20px;
	font-weight:200;
	text-align: center;
	color:rgb(16,26,89);
}

#search-form{
	margin-left:12%;
}

.search-btn{
	/*margin-left:0;*/
	width:50%;
	margin-left:20%;
	margin-top:10px;
}

.result-address{
	font-size:30px;
	float:right;
	margin-top:40px;
	margin-left:60px;
}
/*MY LIST*/

#myrex-body{
	height:100vh;
	background-color:rgb(16,26,89);

}
#myrex-header{
	padding-top:40px;
	font-size:50px;
	text-align:center;
	color:white;
	font-weight:200;

}

#stubborn {
	position:relative;
	bottom: 9px;
}

#listoflists{
	width:60%;
	text-align:center;
	margin:0 auto;
	margin-top:40px;
	font-size:26px;
	text-transform:uppercase;
	text-decoration:none;
	color:white;
	border:2px solid white;
	border-radius:5px;
	padding-top:20px;
	padding-bottom:20px;
	/*padding-right:10px;*/

}

a.eachList {
	color:white;
	text-shadow:1px 1px 1px rgb(45,49,60);
	font-weight:200;


}

.eachli{
	margin-bottom:10px;
	background-color:rgb(148,36,159);
	font-size:25px;
	border-radius:5px;
}

.eachList:hover{
	color:rgb(16,26,89);
	text-shadow: 1px 1px 1px rgb(45,49,60);
	background-color:white;
}

.addlist-btn{
	margin-left:15px;
}

.btn-large i.addlist-plus{
	margin-top:-10px;
}

.addList-plus{
	font-size:10px;
}


/*ADD A REX*/

#addARexPage {
	width: 90%;
	margin-left: 5%;
}

.rexSelect {
	border: 1px solid rgb(16,26,89);
}

#addRexSubmitButton {
	width: 50%;
	left: 22.5%;
}

#addARexTitle {
	font-size: 40px;
	font-weight: 200;
	margin-top: 20px;
	text-align: center;
}

/*REX SHOW PAGE*/


#rex-show-body{
	/*background-color:rgb(16,26,89);*/
}

#location-header{
	font-size:42px;
	color:rgb(16,26,89);
	/*color:white;*/
	margin-right:20px;
	margin-left:30px;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	text-decoration:underline;
	font-weight:200;
}

a.addloc-btn.btn-floating.btn.waves-effect.waves-light.purple.lighten-1{
	margin-top:-10px;
}

.rex-icon{
	color:rgb(148,36,159);
	text-shadow:1px 1px 1px gray;
}

.header-title{
	color:rgb(45,49,60);
}

.collapsible{
	width:80%;
	margin-left:10%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.collapsible{
		width:100%;
		margin-left:0;
	}

	#location-header{
		font-size:30px;
	}

}

.collapsible-body{
	overflow:auto;
}

.md-whiteframe-z2{
	width:90%;
	margin-left:5%;
	min-height:200px;
}

.rex-name{
	font-size:18px;
	margin-top:-85px;
	margin-left:10px;
	text-decoration:none;
	color:rgb(16,26,89);
}

.rex-name:hover{
	color:rgb(148,36,159);
}

div.rex-name{
	width:200px;

}

.rex-address{
	margin-left:-120px;
	width:45%;
}

.mdi-communication-phone{
	/*margin-right:-40px;*/
	/*margin-top:-80px;*/
	font-size:20px;	
}

.mdi-editor-mode-edit{
	font-size:20px;
}

.mdi-communication-email{
	font-size:20px;
}

.rex-edit{

}

.rex-share{
	/*margin-bottom:-100px;*/
}

.rex-btns{
	width:100%;
	margin-bottom:-110px;
	margin-right:-70px;
}


