<div ng-app="RexApp">


<!--    <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="javascript.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="javascript.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav> -->

  <div layout="row" ng-controller="navCtrl">
    <md-sidenav md-component-id="left" class="blue darken-2 md-sidenav-left">
      <a href = "/">HOME</a>
      <a href = "/myrex">MY REX</a>
      <a href = "/addrex">ADD REX</a>
      <a href = "/search">SEARCH</a>
      <!-- <a class="waves-effect waves-light btn" aria-label ng-click="showMyModal()">SHOW REX MODAL</a> -->

      <a class="waves-effect waves-light btn" aria-label ng-click="showSignup()">SIGNUP</a>
      <a class="waves-effect waves-light btn" aria-label ng-click="showLogin()">LOGIN</a>
      <a class="waves-effect waves-light btn" aria-label ng-click="logOut()">LOGOUT</a>
    </md-sidenav>
  <md-content>

    <div id="signupModal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>SIGNUP</h4>
        <div>


    <form ng-submit="signup()">


      <md-input-container>
        <label>Username</label>
        <input name="username" ng-model="username" required md-maxlength="20" minlength="4">
        <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div> -->
      </md-input-container>

      <md-input-container>
        <label>Email</label>
        <input name="email" ng-model="email" required md-maxlength="20" minlength="4">
        <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div> -->
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input name="password" ng-model="password" required md-maxlength="20" minlength="4" type="password">
        <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div> -->
      </md-input-container>

      <div>
        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="SUBMIT">
      </div>
    </form>

</div>

      </div>

    </div>

    <div id="loginModal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>LOGIN</h4>

        <form ng-submit="login()">
           <md-input-container>
            <label>Email</label>
            <input name="email" ng-model="email" required md-maxlength="20" minlength="4">
        <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div> -->
           </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input name="password" ng-model="password" required md-maxlength="20" minlength="4" type="password">
            <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
              <div ng-message="required">This is required!</div>
              <div ng-message="md-maxlength">That's too long!</div>
              <div ng-message="minlength">That's too short!</div>
            </div> -->
          </md-input-container>
        </form>


      </div>
      <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">SUBMIT</a>
      </div>
    </div>

    <div id-"myRexModal" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>myRexModal</h4>
        <p>A bunch of text</p>
      </div>
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="http://i.ytimg.com/vi/ADowAH-s_Kc/maxresdefault.jpg" alt class="circle">
          <span class="title">Title</span>
        </li>
    </div>

    <md-button aria-label="side-nav" ng-click="openLeftMenu()">
      <i class="mdi-navigation-menu"></i>
    </md-button>
  </md-content>

  </div>

  <ng-view><ng-view>


THIS IS THE INDEX PAGE


</div>