<div ng-app="RexApp">

  <div layout="row" ng-controller="navCtrl">
    <md-sidenav md-component-id="left" class="grey darken-4 md-sidenav-left">
      <a href="/"><img id="nav-logo" src = "/images/logo2w.png"></a>
      <a class="nav-links waves-effect waves-purple btn-flat" href = "/">HOME</a><br>
      <a class="nav-links waves-effect waves-purple btn-flat" href = "/myrex">MY REX</a><br>
      <a class="nav-links waves-effect waves-purple btn-flat" href = "/addrex">ADD REX</a><br>
      <a class="nav-links waves-effect waves-purple btn-flat" href = "/search">SEARCH</a><br>
      <!-- <a class="waves-effect waves-light btn" aria-label ng-click="showMyModal()">SHOW REX MODAL</a> -->

      
      <a ng-show="currentUser" class="waves-effect waves-light btn-flat" aria-label ng-click="logOut()">LOGOUT</a>
    </md-sidenav>
  <md-content>

   

    <md-button aria-label="side-nav" ng-click="openLeftMenu()">
      <i class="mdi-navigation-menu"></i>
    </md-button>
  </md-content>

  </div>

  <ng-view><ng-view>

</div>