<div ng-app="RexApp">


<!--    <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="javascript.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="javascript.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav> -->

  <div layout="row" ng-controller="MyController">
  <md-sidenav md-component-id="left" class="blue darken-2 md-sidenav-left">
    <a href = "/">HOME</a>
    <a href = "/myrex">MY REX</a>
    <a href = "/addrex">ADD REX</a>
  </md-sidenav>
  <md-content>

    <md-button ng-click="openLeftMenu()">
      <i class="mdi-navigation-menu"></i>
    </md-button>
  </md-content>

  </div>

  <ng-view><ng-view>


THIS IS THE INDEX PAGE


</div>